{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une annonce{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modifier l'annonce: {{ ad.title }}</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">

                <div class="alert alert-light">
                    <h2>Informations générales</h2>
                    <hr>

                    {{ form_label(form.title, "Titre *") }}
                    {{ form_widget(form.title) }}

                    {{ form_label(form.slug, "Adresse web *") }}
                    {{ form_widget(form.slug) }}

                    {{ form_label(form.price, "Prix par nuit *") }}
                    {{ form_widget(form.price) }}

                    {{ form_label(form.rooms, "Nombre de chambres *") }}
                    {{ form_widget(form.rooms) }}

                </div>

                <div class="alert alert-light">
                    <h2>Détails de l'annonce</h2>

                    {{ form_label(form.introduction, "Introduction *") }}
                    {{ form_widget(form.introduction) }}

                    {{ form_label(form.content, "Contenu *") }}
                    {{ form_widget(form.content) }}

                    <hr>
                </div>

            </div>

            <div class="col-6">
                
                <div class="alert alert-light">
                    <h2>Images de l'annonce</h2>
                    <hr>

                    {{ form_label(form.coverImage, "Url de l'image principale *") }}
                    {{ form_widget(form.coverImage) }}

                    <div class="form-collection">
                        <h3>Images </h3>
                        <p class="collection-infos">
                        </p>
                        <ul class="collection"  data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                            {# iterate over each existing tag and render its only field: name #}
                            {% for image in form.images %}
                                <li class="collection-line">
                                    <img src="{{image.vars.value.url}}" style="width:200px;">
                                    {{ form_row(image.url) }}
                                    {{ form_row(image.caption) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div><br>
               </div>

            </div>
        </div>

        {{ form_widget(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}
