{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du mot de passe</h1>

         {{ form_start(form) }}

            {{ form_label(form.oldPassword, "Ancien mot de passe") }}
            {{ form_widget(form.oldPassword) }}

            {{ form_label(form.newPassword, "Nouveau mot de passe") }}
            {{ form_widget(form.newPassword) }}

            {{ form_label(form.confirmPassword, "Confirmation du mot de passe") }}
            {{ form_widget(form.confirmPassword) }}

            <br>

            {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
