{% extends 'base.html.twig' %}

{% block title %}Modification du profil utilisateur{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification du profil</h1>

            {{ form_start(form) }}

            {{ form_label(form.firstName, "Prénom") }}
            {{ form_widget(form.firstName) }}

            {{ form_label(form.lastName, "Nom") }}
            {{ form_widget(form.lastName) }}

            {{ form_label(form.email, "Email") }}
            {{ form_widget(form.email) }}

            {{ form_label(form.picture, "Photo de profil") }}
            {{ form_widget(form.picture) }}

            {{ form_label(form.introduction, "Introduction") }}
            {{ form_widget(form.introduction) }}

            {{ form_label(form.description, "Description détailée") }}
            {{ form_widget(form.description) }}

            <br>

            {{ form_widget(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
