{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce {{ad.title}}{% endblock %}

{% block body %}

    <div class="container">
        <h1>Réserver pour l'annonce: <em>{{ad.title}}</em> </h1>

        <p>Vous êtes sur le point de reserver le bien de, <strong>{{ad.author.firstName}} {{ad.author.lastName}}</strong>, dites nous tout, on s'occupe du reste ! </p>
    
        {{ form_start(form) }}
            <div class="alert alert-light">
                <h4>Commencez par nous dire quelles sont les dates qui vous interessent !</h4>
                <div clas="row">
                    <div class="col-6">
                        {{ form_label(form.startDate, "Date d'arrivée") }}
		                {{ form_widget(form.startDate) }}
                    </div>
                    <div class="col-6">
                        {{ form_label(form.endDate, "Date de départ") }}
		                {{ form_widget(form.endDate) }}
                    </div>

                    <h4 class="mt-4">Montant du séjour: <span id="amount">...</span> €</h4>
                    <span id="days">0</span>nuit(s) à {{ad.price | number_format(2, ',', ' ')}} € /  par nuit

                    <h4 class="mt-4">Vous avez un commentaire</h4>
                    {{ form_widget(form.comment) }}

                    <br>

                    {{ form_widget(form) }}

                    {{ form_end(form) }}
                </div>
            </div>

 
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){

        $('#booking_startDate, #booking_endDate').datepicker({
            format:'dd/mm/yyyy',
            datesDisabled: [
                {% for day in ad.notAvailabeDays %}
                    "{{day.format('d/m/Y')}}",
                {% endfor %}
            ],
            startDate: new Date()
        });

        $('#booking_startDate, #booking_endDate').on('change', calculateAmount)

        function calculateAmount()
        {
            // On chope les dates
            var endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            var startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            // 18/09/2018
            //(\d+)\/(\d+)\/(\d{4})
            //2018-09-18

            if(startDate && endDate && startDate < endDate){
                var DAY_TIME = 24 * 60 * 60 * 1000;
                
                var interval = endDate.getTime() - startDate.getTime();
                var days = interval / DAY_TIME;
                var amount = days * {{ad.price}};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString('fr-FR')); 
            }

        }

    });
</script>
{% endblock %}
