<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBNB - {% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
	    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet" type="text/css">
        <link href="{{ asset('css/app.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>

        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        {% include 'partials/footer.html.twig' %}

        <script type="text/javascript" src="{{ asset('js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/popper.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('js/collection.js')}}"></script>

        {% block javascripts %}{% endblock %}
        
    </body>
</html>
